main .section-main .article-data-main {
    border-radius: 0;
    background-color: white;

    padding: 25px;

}
.hide{
    display: none;
}
.div-aeroporto-btn-data {

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-aeroporto-btn-data .aeroporto-div {
    background-color: rgb(230, 230, 230);
    padding: 9px;
    border-radius: 30px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.div-aeroporto-btn-data .aeroporto-div .img-aeroporto-nome {
    font-family: "LeagueSpartan";
    align-items: center;
    gap: 10px;
    display: flex;
}

.div-aeroporto-btn-data .aeroporto-div .img-aeroporto-nome img {
    width: 45px;
    display: block;
    border-radius: 50%;
}

.div-aeroporto-btn-data .aeroporto-div .img-aeroporto-nome p {
    font-family: "LeagueSpartan";
    font-size: 14px;
    margin-right: 9px;
}

.div-aeroporto-btn-data .aeroporto-div .aero-hora {
    font-family: "LeagueSpartan";
    opacity: 0.6;
    margin-right: 5px;
}

.div-aeroporto-btn-data .aeroporto-div .aero-hora span {
    font-family: "LeagueSpartan";

    font-size: 14px;
}

.div-aeroporto-btn-data .div-data {
    font-family: "LeagueSpartan";
    font-size: 30px;
    opacity: 0.6;

}

.div-aeroporto-btn-data .div-data span {
    font-family: "LeagueSpartan";
    font-size: 30px;


}



main .section-main .article-data-main .ul-carrosel-inf {
    margin-top: 30px;
    display: grid;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
}

main .section-main .article-data-main .ul-carrosel-inf li {
    list-style: none;
}

/*card card-numero-de-voos*/

main .section-main .article-data-main .ul-carrosel-inf .card-numero-de-voos {
    padding: 15px;

    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}


main .section-main .article-data-main .ul-carrosel-inf .card-numero-de-voos .div-carrosel-rolo-content-link {
    display: flex;
    color: white;
    z-index: auto;
    justify-content: space-between;


}




main .section-main .article-data-main .ul-carrosel-inf .card-numero-de-voos .div-carrosel-rolo-content-link p {
    font-size: 14px;
    line-height: 18px;
    opacity: 0.7;

    width: 150px;
}

main .section-main .article-data-main .ul-carrosel-inf .card-numero-de-voos .div-carrosel-rolo-content-link i {
    font-size: 45px;
    color: white;
}


main .section-main .article-data-main .ul-carrosel-inf .card-numero-de-voos .div-valor-content {
    display: flex;
    align-items: center;

    margin-bottom: 25px;
    gap: 15px;
}


main .section-main .article-data-main .ul-carrosel-inf .card-numero-de-voos .div-valor-content .valor {
    font-size: 60px;
    font-family: "LeagueSpartan";
    color: white;

    margin-bottom: 15px;
}

main .section-main .article-data-main .ul-carrosel-inf .card-numero-de-voos .div-valor-content span {
    position: relative;
    top: 35px;
    color: rgba(255, 255, 255, 0.644);
    font-weight: bold;
    font-size: 45px;

}


/* card-numero-de-voos asul*/

main .section-main .article-data-main .ul-carrosel-inf .card-Total-de-serviços-f {
    position: relative;

    background-color: #c7cbff;
    border-radius: 25px;
}


main .section-main .article-data-main .ul-carrosel-inf .card-Total-de-serviços-f .div-carrosel-rolo-content-link {
    display: flex;
    padding: 15px;
    color: rgb(0, 0, 0);
    justify-content: space-between;


}

main .section-main .article-data-main .ul-carrosel-inf .card-Total-de-serviços-f .div-carrosel-rolo-content-link p {
    font-size: 14px;
    opacity: 0.7;


}


main .section-main .article-data-main .ul-carrosel-inf .card-Total-de-serviços-f .div-carrosel-rolo-content-link i {
    font-size: 45px;
    color: rgb(0, 0, 0);
}


main .section-main .article-data-main .ul-carrosel-inf .card-Total-de-serviços-f .div-contador-progresso span {
    font-family: "LeagueSpartan";
    font-size: 60px;

}

main .section-main .article-data-main .ul-carrosel-inf .card-Total-de-serviços-f .div-contador-progresso small {
    font-family: "LeagueSpartan";
    font-size: 40px;
    opacity: 0.7;

}

main .section-main .article-data-main .ul-carrosel-inf .card-Total-de-serviços-f .div-contador-progresso {
    position: relative;
    top: 10px;
    padding: 0 15px;
    width: 100%;

}

.div-progress {
    padding: 5px;
    border-radius: 30px;
    background-color: rgb(166, 76, 249);
}

.progress {
    width: 50%;
    padding: 3px;
    border-radius: 20px;
    background-color: rgb(255, 255, 255);
}

/*companias*/

main .section-main .article-data-main .card-companias {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.229);
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
}

main .section-main .article-data-main .card-companias .div-carrosel-rolo-content-link {
    display: flex;
    padding: 15px;
    color: rgb(0, 0, 0);
    justify-content: space-between;
}


main .section-main .article-data-main .ul-carrosel-inf .card-companias .div-carrosel-rolo-content-link p {
    font-size: 14px;
    opacity: 0.7;


}


main .section-main .article-data-main .ul-carrosel-inf .card-companias .div-carrosel-rolo-content-link i {
    font-size: 45px;
    color: rgb(0, 0, 0);
}


main .section-main .article-data-main .ul-carrosel-inf .card-companias .div-compania-Num-logos {
    padding: 0 15px;
    position: absolute;
    bottom: 15px;
}



main .section-main .article-data-main .ul-carrosel-inf .card-companias .div-compania-Num-logos p {
    font-family: "LeagueSpartan";
    font-size: 60px;
}


/*hr*/

main .section-main .article-data-main hr {
    margin: 30px 0;
    border: 2px dashed rgba(33, 33, 33, 0.213);
    border-bottom: none;

}

/*div-content-btns*/


main .section-main .article-data-main .div-content-btns {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}


main .section-main .article-data-main .div-content-btns h2 {
    font-family: "MuseoModerno";
    font-weight: 500;
    font-size: 45px;
    width: 100%;
    max-width: 520px;
    line-height: 48px;
}

main .section-main .article-data-main .div-content-btns .div-options {
    display: flex;
    align-items: center;
    gap: 15px;
}

.boder {
    border: 2px solid black;

}

main .section-main .article-data-main .div-content-btns .div-options button {
    background-color: rgb(230, 230, 230);
    border: 2px solid transparent;
    width: 150px;
    padding: 15px 22px;
    border-radius: 25px;
    cursor: pointer;
    padding-top: 20px;
}

main .section-main .article-data-main .div-content-btns .div-options button span {
    font-family: "LeagueSpartan";
    font-size: 35px;
}

main .section-main .article-data-main .div-content-btns .div-options button p {

    border: none;
    margin-top: 30px;
}

/*lista-de-voos*/

main .section-main .article-data-main .lista-de-voos {
    margin-top: 40px;

    display: flex;
    flex-direction: column;
}

main .section-main .article-data-main .lista-de-voos li {
    border-radius: 42px;
    padding: 11px;
    list-style: none;
    margin-bottom: 15px;
    background-color: #e7e7e7d2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}



main .section-main .article-data-main .lista-de-voos li .li-div-img-content {
    gap: 9px;

    display: flex;
    position: relative;
    background-color: transparent;
    margin-right: 18px;
    align-items: center;
}

main .section-main .article-data-main .lista-de-voos li .li-div-img-content img {
    border-radius: 50%;
    display: block;
    width: 56px;
}

main .section-main .article-data-main .lista-de-voos li .li-div-img-content .div-company-nome-data {
    font-family: "LeagueSpartan";
}

main .section-main .article-data-main .lista-de-voos li .li-div-img-content .div-company-nome-data p {
    font-family: "LeagueSpartan";
    font-size: 15px;
    top: 8px;
    position: absolute;
    margin-bottom: 5px;
}

main .section-main .article-data-main .lista-de-voos li .li-div-img-content .div-company-nome-data span {
    font-family: "LeagueSpartan";
    font-size: 13px;
    position: relative;
    top: 12px;
    opacity: 0.6;
    background-color: transparent;
}


main .section-main .article-data-main .lista-de-voos li .provincia {
    font-family: "LeagueSpartan";
    font-size: 15px;
    margin-bottom: 5px;
}

main .section-main .article-data-main .lista-de-voos li .div-detalhes {
    display: flex;
    align-items: center;
    gap: 25px;

}

main .section-main .article-data-main .lista-de-voos li .div-detalhes img {
    width: 35px;
    opacity: 0.7;
}

main .section-main .article-data-main .lista-de-voos li .div-detalhes p {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 5px;
    font-family: "LeagueSpartan";
    font-size: 15px;
    color: rgb(118, 133, 118);
}

/*usuario perfil */

.modal-user {
    position: fixed;
    backdrop-filter: blur(6px);
    background-color: rgba(74, 74, 74, 0.334);
    width: 100%;
    height: 100%;
    z-index: 10;
}

.modal-user i {
    position: absolute;
    right: 20px;
    background-color: rgb(235, 235, 235);
    padding: 15px;
    border-radius: 50%;
cursor: pointer;
}

.modal-user .user-info {
    border-radius: 25px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    width: 100%;
    max-width: 480px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-user .user-info .div-user-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-bottom: 30px;
    align-items: center;
}

.modal-user .user-info .div-user-img img {
    cursor: pointer;
    width: 100px;
    border-radius: 50%;

}

.modal-user .user-info .div-user-img p {

    opacity: 0.7;

}

.modal-user .rolo {
    border-radius: 20px;
       background-color: rgb(235, 235, 235);
}

.modal-user .rolo hr {
    border-bottom: none;
    opacity: 0.3;
}

.modal-user .rolo li {
    padding: 18px;
 
    list-style: none;

    display: flex;

    justify-content: space-between;
}

.modal-user button {
    cursor: pointer;
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 20px;
    color: white;
    background-color: rgb(94, 94, 188);
}





@media (max-width: 1400px) {
    main .section-main .article-data-main .ul-carrosel-inf {
        transition: 0.5S;
    }

    .card-numero-de-voos {

        grid-column: span 1;
    }

    .card-Total-de-serviços-f {

        grid-column: span 2;

    }

    .card-companias {
        height: 190px;
        grid-row: 2/2;
        grid-column: span 3;
    }
}

@media (max-width: 1450px) {

    main .section-main .article-data-main .div-content-btns h2 {

        font-size: 38px;

    }

}

@media (max-width: 960px) {
    main .section-main .article-data-main .ul-carrosel-inf {
        grid-template-columns: 1fr;
    }



    main .section-main .article-data-main .ul-carrosel-inf {
        transition: 0.5S;
    }

    .card-numero-de-voos {

        grid-column: span 3;
    }

    .card-Total-de-serviços-f {
        width: 100%;
        grid-column: span 3;
    }

    .card-companias {
        grid-row: 3/4;

        grid-column: span 3;
    }

    main .section-main .article-data-main .ul-carrosel-inf .card-Total-de-serviços-f .div-contador-progresso {
        position: unset;
        top: 0;
        margin-bottom: 15px;


    }

    main .section-main .article-data-main .div-content-btns {

        text-align: center;
        gap: 25px;
        flex-direction: column;

    }

    main .section-main .article-data-main .div-content-btns h2 {
        font-family: "MuseoModerno";
        font-weight: 500;
        font-size: 36px;
        width: unset;
        max-width: unset;
        line-height: 48px;
    }

    main .section-main .article-data-main .div-content-btns .div-options {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;

    }

    main .section-main .article-data-main .div-content-btns .div-options button {
        background-color: rgb(230, 230, 230);
        width: 100%;
        padding: 15px 20px;
        border-radius: 25px;
        cursor: pointer;
        padding-top: 20px;
    }

}

@media (max-width: 850px) {
    .div-aeroporto-btn-data .div-data {

        font-size: 25px;


    }

    .div-aeroporto-btn-data .div-data span {
        font-family: "LeagueSpartan";
        font-size: 25px;


    }
}

@media (max-width: 720px) {
    .div-aeroporto-btn-data .div-data {

        font-size: 20px;


    }


    main .section-main .article-data-main {


        padding: 15px;

    }

    .div-aeroporto-btn-data .div-data span {
        font-family: "LeagueSpartan";
        font-size: 20px;


    }
}

@media (max-width: 480px) {



    .div-aeroporto-btn-data {

        display: flex;
        flex-direction: column;
        gap: 25px;
    }

    main .section-main .article-data-main .lista-de-voos li .li-div-img-content img {
        border-radius: 50%;
        display: block;
        width: 45px;
    }


    main .section-main .article-data-main .lista-de-voos li .li-div-img-content .div-company-nome-data {
        font-family: "LeagueSpartan";
    }

    main .section-main .article-data-main .lista-de-voos li .li-div-img-content .div-company-nome-data p {
        font-family: "LeagueSpartan";
        font-size: 12px;
        margin-bottom: 5px;
    }

    main .section-main .article-data-main .lista-de-voos li .li-div-img-content .div-company-nome-data span {
        font-family: "LeagueSpartan";
        font-size: 10px;
    }


    main .section-main .article-data-main .lista-de-voos li .provincia {
        font-family: "LeagueSpartan";
        font-size: 12px;
        margin-bottom: 5px;
    }

    main .section-main .article-data-main .lista-de-voos li .div-detalhes {
        display: flex;
        align-items: center;
        gap: 10px;

    }

    main .section-main .article-data-main .lista-de-voos li .div-detalhes img {
        width: 25px;
        opacity: 0.7;
    }

    main .section-main .article-data-main .lista-de-voos li .div-detalhes p {
        display: flex;
        align-items: center;
        gap: 1px;

        font-family: "LeagueSpartan";
        font-size: 12px;
        color: rgb(3, 128, 3);
    }

    .modal-user .user-info {
        border-radius: 25px 25px 0 0;
        padding: 20px;
        width: 100%;
        max-width: 480px;
        position: absolute;
        top: unset;
        left: unset;
        bottom: 0;
        transform: unset;
    }

}



@media (max-width: 380px) {

.modal-user .user-info .rolo li{
     font-size: 15px;
    }

   
}