.modal-btns-nav {
    border-radius: 50px;
    background-color: black;
    padding: 12px 30px;
    position: fixed;
    bottom: 15px;
    width: 305px;
    left: 50%;
    transform: translate(-50%);
    z-index: 20;
}

.modal-btns-nav ul {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;

}

.modal-btns-nav ul li {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 8px;
}

.modal-btns-nav ul li i {
    font-size: 26px;
    cursor: pointer;
    padding: 3px;

}
.modal-btns-nav ul li #more {
    font-size: 29px;
    padding: 15px;
    border-radius: 50%;
    background-color: rgba(80, 80, 80, 0.487);

}
.modal-btns-nav ul li span {
    font-size: 10px;
}